* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.main-heading {
  text-align: center;
  font-size: 60px;
  margin: 20px 0;
  background: URL("https://plus.unsplash.com/premium_photo-1733259911478-20f06b2a6c7a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTE1fHx0ZXh0JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.JS-Projects {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.JS-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}
.project-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  color: black;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 25px;
}
@media (max-width: 540px) {
  .main-heading {
    font-size: 40px;
  }
  .JS-heading {
    font-size: 25px;
  }
  .project-link {
    font-size: 1.2rem;
  }
}
@media (max-width: 440px) {
  .main-heading {
    font-size: 2.5rem;
  }
  .JS-heading {
    font-size: 1.5rem;
  }
  .project-link {
    font-size: 1rem;
  }
}
