<header>
  <div class="logo">
    <a href="/blogify/posts" title="Go to homepage">
      <i class="fa-solid fa-blog"></i>
    </a>
  </div>

  <nav class="navbar" aria-label="Main navigation">
    <ul class="nav-links">
      <li><a href="/blogify/posts">Home</a></li>
      <li><a href="/blogify/newPost">add new post</a></li>
    </ul>
  </nav>

  <div class="cta">
    <a href="/blogify/login" class="btn">Login</a>
  </div>

  <!-- Hamburger Menu -->
  <div
    class="hamburger"
    id="hamburger"
    aria-label="Toggle menu"
    aria-expanded="false"
    role="button"
    tabindex="0"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
